@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@Page.Title - Mi página web ASP.NET</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="~/Styles/Header.css">
        <!--<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />-->
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <!--HEADER SECTION-------------------------------------------------------------------------->
        <header>
            <div class="header-wrapper">
                <!--LOGO SECTION-------------------------------------------------------------------------->
                <div class="float-left">
                    <p class="site-logo">
                        <a href="~/Default">
                            <img alt="logo" src="~/Resources/General/ruasa.png">
                        </a>
                    </p>
                </div>   
                <div class="float-right">
                    <!--ADMIN SECTION-------------------------------------------------------------------------->
                    <section id="upper-left-section">

                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                <a>¡Hola,</a> 
                                <a class="email" href="~/Members/AdminPanel" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a class="logout-button" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                </form>
                            </text>
                        } else { 
                            <a class="login-button" href="~/Account/Login">Iniciar sesión</a>                               
                        }                   
                    </section>
                    <!--NAV SECTION-------------------------------------------------------------------------->
                    <nav>
                        <ul class="lower-left-section" style="line-height:40%">
                            <li><a href="@Href("~/Members/PropertyAdmin")">ADMINISTRAR PROPIEDADES</a></li>
                            <li><a href="@Href("~/Members/InsertProperties")">AÑADIR PROPIEDAD</a></li>
                            <li><a href="@Href("~/Account/Manage.cshtml")">ADMINISTRAR CUENTA</a></li>    
                            <!--<li><a href="@Href("~/Members/EditProperties")">EDITAR PROPIEDAD</a></li>-->                            
                            <!--<li><a href="@Href("~/Members/DeleteProperties")">BORRAR PROPIEDAD</a></li>-->
                            <li><a href="@Href("~/Default")">USUARIO</a></li>                          
                            <li class="icon">
                                <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                            </li>                                              
                        </ul>
                    </nav>  
                </div>         
            </div>
        </header>   
        <script>
            function myFunction() {
                document.getElementsByClassName("lower-left-section")[0].classList.toggle("responsive");
            }
        </script>                      
    </body>
</html>
